h2, h3 {
  color: rgb(85, 74, 208);
}

.persons {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.5;
}

.notification {
  margin: 10px 0 20px;
  font-size: 20px;
  display: inline-block;
  border-style: solid;
  background: rgb(222, 222, 222);
  border-radius: 5px;
  padding: 10px;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}